<div class="container" data-ng-controller="HeaderController" >
    <div class="navbar-header texture-dark">
        <button class="navbar-toggle" type="button" data-ng-click="toggleCollapsibleMenu()">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <div >
            <a href="/#!/" class="navbar-brand font-brand-xl navigation "><span class="inverse-font-color">MM</span></a>
        </div>
    </div>
    <nav class="navbar-collapse texture-dark" collapse="!isCollapsed" role="navigation">

        <ul class="nav navbar-nav navbar-right " data-ng-show="authentication.user">


            <li ui-route="/users" class="dropdown "
                data-ng-show="authentication.user.roles.indexOf('admin') > -1">
                <a href="#" class="dropdown-toggle font-brand-m" id="admin-dropdown-toggle" data-toggle="dropdown">
                    <span class="inverse-font-color">Admin <b class="caret"></b></span>
                </a>
                <ul class="rememberators-dropdown-menu dropdown-menu ">

                    <li>
                        <a id="user-admin-link" href="/#!/users" class="font-brand-m">Users</a>
                    </li>
                    <li>
                        <a id="role-admin-link" href="/#!/roles" class="font-brand-m">Roles</a>
                    </li>
                    <li>
                        <a href="/#!/schools/admin" class="font-brand-m">Schools</a>
                    </li>
                    <li>
                        <a href="/#!/schoolclasses/admin" class="font-brand-m">School Classes</a>
                    </li>
                    <li>
                        <a href="/#!/courses/admin" class="font-brand-m">Courses</a>
                    </li>
                    <li>
                        <a href="/#!/packs/admin" class="font-brand-m">Packs</a>
                    </li>
                    <li>
                        <a href="/#!/messages/admin" class="font-brand-m">Messages</a>
                    </li>
                    <li>
                        <a href="/#!/rewards/admin" class="font-brand-m">Rewards</a>
                    </li>

                </ul>
            </li>
            </ul>
    </nav>
</div>
