<section data-ng-controller="PlannerController" ng-init="init()">

    <div class="planner">

        <div class="journey">



                <div class="from-button">
                    <button type="button" class="btn btn-primary" ng-click="selectFrom()">
                        From
                    </button>
                </div>
                <div class="from-input text" ng-show="!fromInput" ng-hide="fromInput" data-ng-click="toggleFrom()">
                    {{from}}
                </div>

                <div class="from-input" ng-show="fromInput" ng-hide="!fromInput">
                    <input type="text"
                           data-ng-model="from"
                           id="from-input"
                           ng-blur="toggleFrom()"
                           class="form-control"
                           placeholder="Where do you travel from">
                </div>

                <div class="to-button">
                    <button type="button" class="btn btn-primary" ng-click="selectTo()">
                        To
                    </button>
                </div>
                <div class="to-input text" ng-show="!toInput" ng-hide="toInput" data-ng-click="toggleTo()">

                    <span ng-if="to">{{to}}</span>
                    <span ng-if="!to" class="text-muted">Select Destination</span>
                </div>

                <div class="to-inputl" ng-show="toInput" ng-hide="!toInput">
                    <input type="text"
                           data-ng-model="to"
                           id="to-input"
                           ng-blur="toggleTo()"
                           class="form-control from-input"
                           placeholder="Where do you travel from">
                </div>

                <div class="go-button">
                    <button type="button" class="btn btn-primary">
                        Go!
                    </button>
                </div>


        </div>

        <div class="map">
            <leaflet height="100%" width="100%" markers="markers" lf-center="mk" event-broadcast="events"></leaflet>
        </div>

        <div class="timer">

            <div class="now-button">
                <button type="button" class="btn btn-primary" ng-click="resetTime()">
                    Now
                </button>
            </div>

            <div class="date-input">
                <button type="button" class="btn btn-primary" ng-click="changeDate(-1)">
                    -
                </button>
                <div class="start-date">
                    {{startDate}}
                </div>
                <button type="button" class="btn btn-primary" ng-click="changeDate(1)">
                    +
                </button>
            </div>

            <div class="time-slider">
                <rzslider
                        rz-slider-model="slider.value"
                        rz-slider-options="slider.options"></rzslider>
            </div>
            <div class="time-input">
                <button type="button" class="btn btn-primary" ng-click="changeTime(-1)">
                    -
                </button>
                <div class="start-time">
                {{startTime}}
                    </div>
                <button type="button" class="btn btn-primary" ng-click="changeTime(1)" onD>
                    +
                </button>
            </div>
        </div>

    </div>


</section>
