<section data-ng-controller="PlannerController" ng-init="init()">

    <div class="planner">
textxxx
        <div class="journey">


            <!--<div class="here-button">-->
                <!--<button type="button" class="btn btn-primary" ng-click="selectTo()">-->
                    <!--My Location-->
                <!--</button>-->
            <!--</div>-->

                <div class="from-text text">
                        From:
                </div>
                <div class="from-input" ng-show="!fromInput" ng-hide="fromInput" data-ng-click="toggleFrom()">

                    <input type="text"
                           data-ng-model="from.text"

                           class="form-control"
                           placeholder="Where do you travel from" disabled>
                </div>

                <div class="from-input" ng-show="fromInput" ng-hide="!fromInput">
                    <input type="text"
                           data-ng-model="from.text"

                           class="form-control"
                           placeholder="Where do you travel from">
                </div>

            <div class="to-text text">
                To:
            </div>
                <!--<div class="to-button">-->
                    <!--<button type="button" class="btn btn-primary" ng-click="selectTo()">-->
                        <!--To-->
                    <!--</button>-->
                <!--</div>-->
                <div class="to-input" ng-show="!toInput" ng-hide="toInput" data-ng-click="toggleTo()">

                    <input type="text"
                           data-ng-model="to.text"
                           class="form-control"
                           placeholder="Where do you travel from" disabled>
                </div>

                <div class="to-input" ng-show="toInput" ng-hide="!toInput">
                    <input type="text"
                           data-ng-model="to.text"
                           class="form-control"
                           placeholder="Where do you travel to">
                </div>

                <div class="go-button" ng-show="!goReady" ng-hide="goReady">
                    <button type="button" class="btn btn-primary"  disabled>
                        Go!
                    </button>
                </div>

            <div class="go-button" ng-show="goReady" ng-hide="!goReady">
                <button type="button" class="btn btn-primary"  ng-click="calculateDirections()">
                    Go!
                </button>
            </div>


        </div>

        <div class="map">
            <leaflet height="100%" width="100%" paths="paths" markers="markers" lf-center="mk" event-broadcast="events"></leaflet>
        </div>

        <div class="timer">

            <div class="now-button">
                <button type="button" class="btn btn-primary" ng-click="resetTime()">
                    Now
                </button>
            </div>

            <div class="date-input">
                <button type="button" class="btn btn-primary" ng-click="changeDate(-1)">
                    -
                </button>
                <div class="start-date">
                    {{startDate}}
                </div>
                <button type="button" class="btn btn-primary" ng-click="changeDate(1)">
                    +
                </button>
            </div>

            <div class="time-slider">
                <rzslider
                        rz-slider-model="slider.value"
                        rz-slider-options="slider.options"></rzslider>
            </div>
            <div class="time-input">
                <button type="button" class="btn btn-primary" ng-mousedown="changeTimeFast(-1)" ng-mouseup="stopChangeTimeFast()">
                    -
                </button>
                <div class="start-time">
                {{startTime}}
                    </div>
                <button type="button" class="btn btn-primary" ng-mousedown="changeTimeFast(1)" ng-mouseup="stopChangeTimeFast()">
                    +
                </button>
            </div>
        </div>

    </div>


</section>
