<section data-ng-controller="BusesController" data-ng-init="find()">
    <div class="page-header">
        <h1>Buses</h1>
    </div>
    <div class="list-group">
        <a data-ng-repeat="bus in buses" data-ng-href="#!/buses/{{bus._id}}" class="list-group-item">
			<small class="list-group-item-text">
				Posted on
				<span data-ng-bind="bus.created | date:'medium'"></span>
				by
				<span data-ng-bind="bus.user.displayName"></span>
			</small>
			<h4 class="list-group-item-heading" data-ng-bind="bus.name"></h4>
        </a>
    </div>
    <div class="alert alert-warning text-center" data-ng-hide="!buses.$resolved || buses.length">
    	No Buses yet, why don't you <a href="/#!/buses/create">create one</a>?
    </div>
</section>