/*planner*/
.planner {
  margin-top: 1%;
  height: 80vh;

  .input-row {
    .make-row(0);
    padding: 0.2em;
    background-color: @background-color;
    font-size: large;
  }

  .planner-button {
    .make-xs-column(1, 0);
    .btn {
      width: 100%;
    }
  }

  .journey {
    .input-row;
    border: 1px solid @border-color;

    //.instructions-field {
    //  color: red;
    //  .make-xs-column(3);
    //}
    .from-text {
      .make-xs-column(1);
      cursor: pointer;
    }
    .from-input {
      .make-xs-column(4.5);
      cursor: pointer;
    }
    .text {
      margin-top: 0.2em;
    }
    .to-text {
      .make-xs-column(1);
      cursor: pointer;

    }
    .to-input {
      .make-xs-column(4.5);
      cursor: pointer;
    }
    .go-button {
      .planner-button;
    }
  }

  .start-icon {

  }

  .map {
    height: 100%;
    border-left: 1px solid @border-color;
    border-right: 1px solid @border-color;
  }
  .timer {
    .input-row;
    border: 1px solid @border-color;

    .now-button {
      margin-top: 0.2em;
      .planner-button;
    }

    .time-slider {
      margin-top: -1.5em;
      font-size: x-small;
      .make-xs-column(6, 0);
      //.make-xs-column-offset(0.5);
    }
    .date-input {
      margin-top: 0.2em;
      .make-xs-column(2.5, 0);
      text-align: center;
      .start-date {
        display: inline;
        padding: 0 0.5em 0 0.5em;
      }
    }
    .time-input {
      margin-top: 0.2em;
      .make-xs-column(2.5, 0);
      text-align: center;
      .start-time {
        display: inline;
        padding: 0 0.5em 0 0.5em;
      }
    }
  }
}




