<section data-ng-controller="PathsController" data-ng-init="find()">
    <div class="page-header">
        <h1>Paths</h1>
    </div>
    <div class="list-group">
        <div data-ng-repeat="path in paths">

            <a data-ng-href="#!/paths/{{path._id}}" class="list-group-item">
                {{path.type}} {{path.name}}
            </a>

            <a href="" data-ng-click="remove(path)">remove</a>

            <h4 class="list-group-item-heading" data-ng-bind="path.name"></h4>

        </div>
    </div>
    <div class="alert alert-warning text-center" data-ng-hide="!paths.$resolved || paths.length">
        No Paths yet, why don't you <a href="/#!/paths/create">create one</a>?
    </div>
</section>
